<div class="flex flex-col p-4 gap-4">
  <div class="flex flex-wrap gap-4 p-4 bg-gray-100 rounded-lg shadow">
    <div class="flex flex-col gap-1">
      <label for="test_size" class="text-gray-700 text-sm font-medium"
        >Test size</label
      >
      <input
        id="test_size"
        type="number"
        step="0.01"
        min="0"
        max="1"
        [formControl]="test_size"
        class="w-24 p-2 border border-gray-300 rounded-md focus:ring focus:ring-amber-300"
      />
    </div>
    <div class="flex flex-col gap-1">
      <label for="train_size" class="text-gray-700 text-sm font-medium"
        >Train size</label
      >
      <input
        id="train_size"
        type="number"
        step="0.01"
        min="0"
        max="1"
        [formControl]="train_size"
        class="w-24 p-2 border border-gray-300 rounded-md focus:ring focus:ring-amber-300"
      />
    </div>
    <div class="flex flex-col gap-1">
      <label for="random_state" class="text-gray-700 text-sm font-medium"
        >Random state</label
      >
      <input
        id="random_state"
        type="number"
        min="0"
        [formControl]="random_state"
        class="w-24 p-2 border border-gray-300 rounded-md focus:ring focus:ring-amber-300"
      />
    </div>
    <div class="flex flex-row gap-1">
      <label for="shuffle" class="text-gray-700 text-sm font-medium"
        >Shuffle</label
      >
      <input
        id="shuffle"
        type="checkbox"
        [formControl]="shuffle"
        class="w-6 h-6 border border-gray-300 rounded-md focus:ring focus:ring-amber-300"
      />
    </div>
    <div class="flex flex-col gap-1">
      <label for="stratify" class="text-gray-700 text-sm font-medium"
        >Stratify</label
      >
      <input
        id="stratify"
        type="text"
        [formControl]="stratify"
        class="w-24 p-2 border border-gray-300 rounded-md focus:ring focus:ring-amber-300"
      />
    </div>
    <div class="flex flex-row gap-1">
      <label for="intercept" class="text-gray-700 text-sm font-medium"
        >Fit intercept</label
      >
      <input
        id="intercept"
        type="checkbox"
        [defaultChecked]="false"
        [formControl]="intercept"
        class="w-6 h-6 border border-gray-300 rounded-md focus:ring focus:ring-amber-300"
      />
    </div>
    <div class="flex flex-col gap-1">
      <label for="method" class="text-gray-700 text-sm font-medium"
        >Método</label
      >
      <select
        [formControl]="method"
        id="method"
        class="w-32 p-2 border border-gray-300 rounded-md bg-white shadow"
      >
        <option defaultSelected>OLS</option>
        <option>NNLS</option>
        <option>CLS</option>
      </select>
    </div>
    <button
      (click)="enviar()"
      class="bg-amber-500 text-white font-semibold px-4 py-2 rounded-lg hover:bg-amber-600 transition"
    >
      Enviar
    </button>
  </div>

  <div class="flex gap-6">
    <div
      class="flex flex-col gap-4 p-2"
      [hidden]="imagen || imagen2 ? true : false"
    >
      <app-input-datos-manager
        [tipo]="'INDEPENDIENTE'"
      ></app-input-datos-manager>
      <!-- <app-input-datos-manager [tipo]="'DEPENDIENTE'"></app-input-datos-manager> -->
      <app-input-datos-manager [tipo]="'PLOT'"></app-input-datos-manager>
      <app-input-mat-manager></app-input-mat-manager>
    </div>

    <div
      class="flex flex-row justify-items-center bg-gray-100 rounded-lg shadow"
    >
      <ul>
        @for (error of errors; track error) {
        <li>{{ error }}</li>
        }
      </ul>
      @if(imagen){
      <img
        id="resultados-plot"
        alt="Resultado del plot"
        [src]="[imagen]"
        fill
        placeholder
      />
      } @if(imagen2){
      <img
        id="resultados-originales"
        alt="Plot datos originales"
        [src]="[imagen2]"
        fill
        placeholder
      />
      }
    </div>
  </div>
</div>
